.structure {
  ul {
    height: auto;
    overflow: hidden;
    + ul {
      border-top: 1px solid silver;
    }
  }
  .panel-body > ul {
    padding-left: 0;
    li + li {
      border-top: 1px solid silver;
    }
  }
  li {
    list-style-type: none;
    > div {
      height: 30px;
      line-height: 30px;
    }
  }

  .right {
    float: right;
  }
}